/*/////////////////////////////////////  GLOBAL STYLES /////////////////////////////////////*/

html {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 17px;
    background-color: #FFF;
    scroll-behavior: smooth;
}

/*/////////////////////////////////////  FONT STYLES /////////////////////////////////////*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 5.4vmax;
    color: #000000;
}

a {
    color:  #d9d9d9;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease;
}

nav a:hover {
    color: #48A9A6;
    border-bottom: 3px solid #48A9A6;
    transition: all 200ms ease;
}

/*/////////////////////////////////////  HEADER STYLES /////////////////////////////////////*/

.name {
    color: #48A9A6;
}

.mainWrapper {
    display: grid;
    width: 100%;
    justify-items: center;
}

header {
    display: grid;
    width: 100%;
    height: 6vh;
    font-size: 2vmax;
    place-content: center;
    background-color: #000000;
    position: fixed;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2);
    z-index: 99;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

nav li {
    display: inline-block;
    height: 100%;
    margin:.2rem .4rem;
}
    

/*/////////////////////////////////////  ABOUT ME STYLES /////////////////////////////////////*/

.aboutMe {
    display: grid;
    width: 80%;
    grid-template-rows:auto auto;
    margin-top: 6vh;
    margin-bottom: 4vh;
}

.aboutmeCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.myName {
    display: grid;
    width: 100%;
    text-align: center;
    height: 16vh;
}

.aboutMeWords{
    display: grid;
    font-size: 1.5rem;
    padding: 0 1rem;
    align-content: center;
}

.me {
    margin: 0;
}

.contactButton {
    width: 100%;
    text-align: center;
    padding: 1vw;
}

.viewPortfolio {
    display: block;
    margin: 0 auto;
    line-height: 4vmax;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7vmax;
    color: #000000;
    padding: 0 20px;
    background: #48A9A6;
    letter-spacing: 1px;
    outline: none;
    transition: 300ms all ease-in-out;
    border: none;
    box-shadow: 3px 3px 1px #000000, 3px 3px 1px 1px rgba(0,0,0,1)
}

.viewPortfolio:hover {
    background: #000000;
    color: #FFF;
}

.aboutMePhoto {
    display: grid;
    place-content: center;
    width: 100%;
    padding: 1vw;
}

.aboutMePhoto img {
    object-fit:cover;
    border-radius: 50%;
    max-width: 325px;
    height: auto;
}

/*/////////////////////////////////////  PROJECTS STYLES /////////////////////////////////////*/

.projects {
    display: grid;
    grid-template-columns: auto;
    background-color: #000000;
    justify-items: center;
}

.projects h1 {
    color: #FFF;
    font-size: 6vmax;
    padding: 0;
    margin: 0;
}

.projectsCard {
    box-sizing: border-box;
    width: 100%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: justify;
    padding: 0 2vw;
}

/*/////////////////////////////////////  CONTACT STYLES /////////////////////////////////////*/

.contact {
    display: grid;
    width: 100%;
    place-items: center;
    padding: 7vh 0;
}

.contact h1 {
    font-size: 6vmax;
    margin-top: 0;
}

.form {
    display: grid;
    width: 60%;
    place-items: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2vmax;
    padding: 1vh;
}

input[type=text] {
    display: block;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 5px solid #000000;
    padding-left: 5px;
    outline: none;
}

.signup {
    text-align: center;
    width: 90%;
}

input[type=text]:focus {
    border-bottom: 5px solid #48A9A6;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 4vmax;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.7vmax;
    padding: 0 20px;
    background: #48A9A6;
    letter-spacing: 1px;
    outline: none;
    transition: 300ms all ease-in-out;
    border: none;
    box-shadow: 3px 3px 1px #000000, 3px 3px 1px 1px rgba(0,0,0,1)
}

input[type=submit]:hover {
    background: #000000;
    color: #FFF;
}

/*/////////////////////////////////////  FONT STYLES /////////////////////////////////////*/

footer {
    display: grid;
    gap: 1.2vh;
    width: 100%;
    grid-template-columns: auto;
    background-color: #000000;
    color: #FFF;
    place-items: center;
    padding: 3vh;
    box-sizing: border-box;
}

.toTop {
    font-size: 2vmax;
    height: 100%;
    width: fit-content;
}

.footerText {
    letter-spacing: .5rem;
    font-size: 2.5vmax;
    transition: 300ms all ease-in-out;
}
footer i {
    transition: 300ms all ease-in-out;
}

footer i:hover {
    color: #48A9A6;
    transition: 300ms all ease-in-out;
}

.credits {
    font-size: 1.5vmax;
    text-align: center;
}

/*/////////////////////////////////////  MEDIA QUERY STYLES /////////////////////////////////////*/

@media only screen and (min-device-width:320px) and (max-device-width: 840px) {

    div {
        box-sizing: border-box;
    }

    * {
        word-wrap: break-word;
    }

    .aboutMe {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        margin-top: 6vh;
        margin-bottom: 6vh;
    }

    .aboutmeCard {
        display: grid;
        grid-template-columns: auto;
    }

    h1 {
        font-size: 9vmax;
        padding: 0;
        margin: 0;
    }

    .myName {
        display: grid;
        order: -1;
        display: grid;
        text-align: center;
        height: fit-content;
        margin-top: 3vh;
        margin-bottom: 2vh;
    }

    .aboutMeWords {
        display: grid;
        align-content: center;
        width: 100%;
        order: 3;
        padding: 0 3vw;
        font-size: 3vmax;
        text-align: justify;
        margin-top: 2vh;
    }

    .me {
        margin: 0;
        padding: 1vw;
    }

    .me p {
        margin: 0;
        padding: 0;
    }

    .aboutMePhoto {
        display: grid;
        order: 2;
        padding: 0;
        margin: 0;
    }