/*/////////////////////////////////////  GLOBAL STYLES /////////////////////////////////////*/

html {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    background-color: #FFF;
    scroll-behavior: smooth;
}

/*/////////////////////////////////////  FONT STYLES /////////////////////////////////////*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: clamp(3rem, 5vw, 5rem);
    color: #000000;
}

a {
    color:  #d9d9d9;
    text-decoration: none;
    cursor: pointer;
    transition: all 300ms ease;
}

nav a:hover {
    color: #48A9A6;
    border-bottom: 3px solid #48A9A6;
    transition: all 300ms ease;
}

/*/////////////////////////////////////  HEADER STYLES /////////////////////////////////////*/

.name {
    color: #48A9A6;
}

.mainWrapper {
    display: grid;
    width: 100%;
    justify-items: center;
}

header {
    display: grid;
    width: 100%;
    height: 5vh;
    font-size: clamp(18px, 1.7vw, 25px);
    place-content: center;
    background-color: #000000;
    position: fixed;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2),0 4px 10px 0 rgba(0,0,0,0.2);
    z-index: 99;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

nav li {
    display: inline-block;
    height: 100%;
    margin:.2rem .4rem;
}
    

/*/////////////////////////////////////  ABOUT ME STYLES /////////////////////////////////////*/

.aboutMe {
    display: grid;
    width: 80%;
    grid-template-rows:auto auto;
    margin-top: 10vh;
    margin-bottom: 4vh;
}

.aboutmeCard {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.myName {
    display: grid;
    width: 100%;
    text-align: center;
    height: 16vh;
}

.aboutMeWords{
    font-size: 1.5rem;
    padding: 0 1rem 0 3.4rem;
}

.aboutMePhoto {
    display: grid;
    place-content: center;
}

.aboutMePhoto img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    max-width: 325px;
    max-height: 325px;
    border: 4px solid #000000;
}

/*/////////////////////////////////////  PROJECTS STYLES /////////////////////////////////////*/

.projects {
    display: grid;
    width: 100%;
    background-color: #000000;
    justify-items: center;
}

.projects h1 {
    color: #FFF;
}

.projectsCard {
    width: 90%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: justify;
}

/*/////////////////////////////////////  CONTACT STYLES /////////////////////////////////////*/

.contact {
    display: grid;
    height: 50vh;
    width: 100%;
    place-items: center;
    margin-top: 10vh;
}

.form {
    display: grid;
    width: 60%;
    place-items: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
}


input[type=text] {
    display: block;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 5px solid #000000;
    padding-left: 5px;
    outline: none;
}

.signup {
    text-align: center;
    width: 90%;
}

input[type=text]:focus {
    border-bottom: 5px solid #48A9A6;
}

input[type=submit] {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 0 20px;
    background: #48A9A6;
    letter-spacing: 1px;
    outline: none;
    transition: 300ms all ease-in-out;
    border: none;
    box-shadow: 3px 3px 1px #000000, 3px 3px 1px 1px rgba(0,0,0,1)
}

input[type=submit]:hover {
    background: #000000;
    color: #FFF;
}

/*/////////////////////////////////////  FONT STYLES /////////////////////////////////////*/

footer {
    display: grid;
    width: 100%;
    background-color: #000000;
    color: #FFF;
    margin-top: 20vh;
    place-items: center;
    padding: 2rem;
    padding-bottom: 0;
    box-sizing: border-box;
}

.toTop {
    margin: 1.5rem 0;
    font-size: 2rem;
}

.footerText {
    letter-spacing: .5rem;
    font-size: 1.5rem;
    transition: 300ms all ease-in-out;
}
footer i {
    transition: 300ms all ease-in-out;
}

footer i:hover {
    color: #48A9A6;
    transition: 300ms all ease-in-out;
}

.credits {
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

/*/////////////////////////////////////  MEDIA QUERY STYLES /////////////////////////////////////*/

@media only screen and (max-width: 800px) {

    div {
        box-sizing: border-box;
        /* overflow: hidden; */
    }

    .aboutMe {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        margin-bottom: 4vh;
        margin-top: 6vh;
    }

    .aboutmeCard {
        display: grid;
        grid-template-columns: auto;
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    .myName {
        display: grid;
        order: -1;
        display: grid;
        text-align: center;
        height: fit-content;
        margin-top: 3vh;
    }

    .aboutMeWords {
        display: grid;
        width: 100%;
        order: 3;
        padding: 0 2vh;
        font-size: 3vh;
    }

    .aboutMePhoto {
        display: grid;
        order: 2;
        padding: 0;
        margin: 0;
        height: fit-content;
    }

    .projects {
        display: grid;
        width: 100%;
        background-color: #000000;
        justify-items: center;
    }
    
    .projects h1 {
        color: #FFF;
        font-size: 12vw;
    }
    
    .projectsCard {
        width: 100%;
        padding: 0 2vh;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        text-align: justify;
    }

    .contact {
        display: grid;
        height: fit-content;
        width: 100%;
        place-items: center;
    }

    .contact h1 {
        font-size: 12vw;
        margin-bottom: 4vh;
    }

    .form {
        display: grid;
        width: 60%;
        place-items: center;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 1rem;
        margin-bottom: 8vh;
    }
    
    
    input[type=text] {
        display: block;
        margin-bottom: 1rem;
        border: none;
        border-bottom: 5px solid #000000;
        padding-left: 5px;
        outline: none;
        font-size: 2.5vh;
    }

    footer {
        display: grid;
        width: 100%;
        margin: 0;
        background-color: #000000;
        color: #FFF;
        place-items: center;
        padding: 2rem;
    }

    .footer div {
        height: fit-content;
    }
    
    .toTop {
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 2rem;
    }
    
    .footerText {
        letter-spacing: .5rem;
        font-size: 1.5rem;
        transition: 300ms all ease-in-out;
    }
    footer i {
        transition: 300ms all ease-in-out;
    }
    
    footer i:hover {
        color: #48A9A6;
        transition: 300ms all ease-in-out;
    }
    
    .credits {
        padding: 0;
        margin: 0;
        margin-top: 1rem;
    }
}